<div id="<%= dom_id house %>">
  <p>
    <strong>Type:</strong>
    <%= house.type %>
  </p>

  <p>
    <strong>Property:</strong>
    <%= house.property %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= house.rooms %>
  </p>

</div>
